.card {
    max-width: 400px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
}

.thumb {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.body {
    background-color: white;
    padding: 16px;
}

.title {
    margin-bottom: 10px;
}

.description {
    margin-bottom: 5px;
}